<ion-view view-title="My Sound Board">

  <ion-content class="padding">
		<div class="row">
			<div class="col">
				<button class="button button-block button-balanced" ng-click="downloadFile()">PLAY</button>
			</div>
			<div class="col">
				<button class="button button-block button-balanced" ng-click="stopPlay()">STOP</button>
			</div>
		</div>

		<div class="row">
			<div class="col">
        <a href="#/new" class="button button-balanced button-block" ng-show="cordova.loaded">
          Record New Sound
        </a>
      </div>
    </div>

  </ion-content>

</ion-view>
